body {
    background-color: #AFAFAF;
    font-family: Arial, sans-serif;
}

/* Grouped selectors. */
h1, h2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

/* Auto margin won't center because header element width is 100%. See 
   the below comment preceding the grouped .recipe-figure, and 
   .back-link. */
h1 {
    text-align: center;
}

.home-list {
    display: flex;
    /* "flex-direction" directs order for child elements, here .item. */
    flex-direction: row;
    /* Remove bulleting for the unordered list. */
    list-style-type: none;
    padding: 1em;
    /* Gap between child elements. */
    gap: 20px;
    /* Center the items horizontally in the flex row, flat against top 
       border of parent element. "justify-content" is a flex property. 
       */
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    /* Aligns items according to the "flex-direction". Here, aligned 
       img and text anchors in the center of the column, instead of 
       e.g. to the left or right. */
    align-items: center;
    /* Aligns text center, e.g. within the black beans anchor which has 
       extra width--instead of aligning the B.B. anchor text left. */
    text-align: center;
    gap: 10px;
}

.home-list-img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.home-list-img:hover {
    /* 105% of displayed size. */
    transform: scale(1.05);
    /* "all" is the selected "transition-property"--selecting 
       everything in the element (e.g. background and text) for the 
       transition. 
       "ease" is the selected cubic Bézier "easing function". */
    transition: all ease;
    border-radius: 15px;
}

/* Anchors are in-line so you can pad left and right but not top and 
   bottom. To add height, you can add a border.
   Alternatively set "display" to "inline-block" to add vertical 
   padding and borders to anchors that are respected by neighboring 
   elements / the container. */
.cool-link {
    color: #000000;
    background-color: #FFFFFF;
    /* Remove link underline. */
    text-decoration: none;
    border-radius: 0.5em;
    /* Padding is top, right, bottom, left. */
    padding: 0 1em 0 1em;
    font-size: 18px;
    /* "border-style" must be defined; here, "solid". 
       Else, the other border properties won't apply! */
    border: 2px solid #FFFFFF;
}

/* Chained selectors. */
.cool-link.black-beans-link {
    width: 70%;
}

/* ":hover" works when hovering mouse pointer over any element. */
.cool-link:hover {
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}


/* "display" set to "block" allows centering with margins as used in 
   this comment. 
   Note sizing child elements smaller will align the child elements
   left along the parent's left edge. 
   Note width must be set and not to 100%. 
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 500px;*/
/* "display" set to "flex" to use justify-content to center the child 
   div (that child of .recipe-figure). This allows the child img 
   width to be adjusted without setting the child off-center (as 
   would be the case with margins left and right set to auto due 
   to the ancestor div width remaining constant with the child 
   against the left side). */
.recipe-figure, .back-link {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

/* Descendant combinator " " is used. */
.recipe-figure img {
    width: 500px;
    height: auto;
}

/* Display flex was selected instead of selecting block with auto left 
   and right margins and a width. Setting these in an ancestor element 
   allows aligning grandchild h2 along left edge of .narrow container.*/
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px; 
    */
.recipe-whole {
    display: flex;
    justify-content: center;
}

/* .recipe-whole can't have width set without removing the effect of
   justify-content. So child div must be used to set width. */
.narrow {
    max-width: 600px;
}

.recipe-section {
    padding: 0 0 25px 0;
    font-size: 18px;
    /* "line-height" interprets unitless numbers, as below, as a 
    multiple of the font height. Using em brings about unexpected 
    results. */
    line-height: 1.3;
}

.recipe-section li {
    margin-bottom: 7px;
}